.p-companyProfile_Details-Content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.p-companyProfile {
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    width: 100%;
}

.p-companyProfile_Details-JobTitle{
    font-size: 14px;
    display: block;
}

