.c-Breadcrumb_nav {
    width: 100%;
}

.c-Breadcrumb_navList {
    align-items: center;
    display: flex;
    justify-content: flex-start;
}

.c-Breadcrumb_navList-Item {
    font-weight: var(--font-weight-title);
    position: relative;

    &>* {
        display: block;
        max-width: 200px;
        overflow: hidden;
        padding: 0;
        text-overflow: ellipsis;
        text-transform: capitalize;
        white-space: nowrap;
    }
}