.c-scroll-Trigger {
    overflow: hidden;
    position: relative;
    width: 100%;
    z-index: 0;
}

.c-trigger-String {
    color: var(--color-white);
    display: block;
    font-family: var(--font-sans-en);
    font-size: clamp(120px, 15.37vw, 210px);
    letter-spacing: var(--tracking-wide);
    line-height: 0.8;
    left: -40px;
    position: absolute;
    text-align: left;
    white-space: nowrap;
    z-index: -1;
}