.c-headline__primary {
  font-weight: bold;
  font-size: 18px;
  color: $color-black;
  @media (--sm) {
    font-size: 28px;
  }

  &--small {
    color: $color-theme-primary;
    font-size: 11px;
    font-family: $medium;
  }
}
