.c-pagination_navList {
    align-items: center;
    display: flex;
    justify-content: center;
}

.c-pagination_Nav-Link {
    align-items: center;
    display: flex;
    font-weight: var(--font-weight-title);
    justify-content: center;
}