.c-picture-panel__inner {
    display: flex;
    flex-wrap: wrap;
    position: relative;
}

.c-picture-panel__details {
    background-color: $color-white;
    position: relative;
}

.c-picture-panel__details--text {
    color: $color-text-secondary;
    line-height: $leading-x-loose;
    letter-spacing: 0.05em;
}