.c-contactComponent-Tel {
    display: inline-block;
    font-family: "Affogato-Medium", sans-serif;
}

.s-contact_ContactTel-Number {
    display: block;
    font-size: 34px;
    position: relative;

    &::before {
        display: inline-block;
        margin-right: 8px;
    }
}

.s-contact_ContactTel-Date {
    font-size: 14px;
    text-align: right;
}