.c-telephone-Number {
    display: inline-block;
    font-family: "Affogato-Medium", sans-serif;
}

.c-telephone-Number_Link {
    font-size: 34px;
    display: block;
    line-height: $leading-x-tight;

    &::before {
        content: url(../images/tel.svg);
        display: inline-block;
        margin-right: 8px;
    }
}

.c-telephone-Number_Date {
    text-align: right;
    font-size: 14px;
}