.p-completed-underComponent {
    margin-top: clamp(50px, 8.680vw, 70px);
    text-align: center;

    & > * {
        padding: 16px;
        color: var(--color-main);
        font-size: 14px;
    }
}